<div class="container">
<h2>Loans that help</h2>
<p>A small loan is a great solution if you need to renovate your home, buy new furniture for the terrace, repair your car or to finance your next big thing.</p>
<ul>
    <li>Borrow from 500 up to 20 000 € without collateral.</li>
    <li>Annual interest rate from 11,9 percent.</li>
    <li>Money is transferred to the account immediately after the conclusion of the contract.</li>
    <li>It is possible to make early repayments without any additional fees.</li>
</ul>
<button type="button"><a src="">Fill in application</a></button>
<p>Please note, that by using financial services you assume financial obligations. Improper execution of financial <br> obligations
     may adversely affect your credit history and raise the cost of borrowing,<br> and it can also cause initiation of enforced recovery.</p>


</div>    
